@import url("https://api.fontshare.com/v2/css?f[]=sentient@400,500,600,700&f[]=switzer@400,500,600,700&display=swap");

.font-sentient{
    font-family: 'Sentient', serif;
    font-weight: 400;
}
.font-switzer{
   font-family: 'Switzer', sans-serif;
}

.icons{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: .3rem 0rem;
}